<div class="container-fluid">
    <div class = "row1">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h1 class = " display-1 text-dark font-weight-bold">Tweet App</h1>
                    <br>
                    <h4 class = "display-6 text-dark">Tweet App is SPA (Single Page App) for registered users to post new tweets, 
                        reply to tweets, like/unlike tweets. </h4>
                </div>
            </div>
            <div class="col">
                <div class="Message_Icon">
                    <img src="/assets/Message_icon.png" class="img-fluid " alt="Large_bird">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="footer">
            <nav>
                <a href="#">About</a>&nbsp;
                <a href="#">help center</a>&nbsp;
                <a href="#">terms of service</a>&nbsp;
                <a href="#">privacy policy</a>&nbsp;
                <br/>
                <span>Copyright &copy; vijay chippe 2022.</span>
            </nav>
        </div>
    </div>
</div>
