<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8 row-md-8">
            <div class="card">
                <div class="card-header text-center">Register

                </div>
                <div class="card-body">
                    <form [formGroup]='registerForm' (ngSubmit)='register()' autocomplete="off">
                        <div class="form-group row">
                            <label for="full_name" class="col-md-3 col-form-label text-md-right">First Name <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6">
                                <input
                                    [class.is-invalid]='registerForm.get("firstName").errors && registerForm.get("firstName").touched'
                                    type="text" class="form-control bg-light border-dark" formControlName="firstName" required>
                                <div class='invalid-feedback'>Please enter First Name</div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="full_name" class="col-md-3 col-form-label text-md-right">Last Name <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6">
                                <input type="text"
                                    [class.is-invalid]='registerForm.get("lastName").errors && registerForm.get("lastName").touched'
                                    class="form-control bg-light border-dark" formControlName="lastName">
                                <div class='invalid-feedback'>Please enter Last Name</div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="user_name" class="col-md-3 col-form-label text-md-right">Login Id <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6">
                                <input type="text"
                                    [class.is-invalid]='registerForm.get("loginId").errors && registerForm.get("loginId").touched'
                                    class="form-control bg-light border-dark" formControlName="loginId">
                                <div class='invalid-feedback'>Please enter Login ID</div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="email_address" class="col-md-3 col-form-label text-md-right">E-Mail <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6">
                                <input type="email"
                                    [class.is-invalid]='registerForm.get("email").errors && registerForm.get("email").touched'
                                    class="form-control bg-light border-dark" formControlName="email">
                                <div *ngIf="registerForm.get('email').hasError('required')" class='invalid-feedback'>
                                    Please enter Email</div>
                                <div *ngIf="registerForm.get('email').hasError('pattern')" class='invalid-feedback'>
                                    Invalid Email Address</div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="phone_number" class="col-md-3 col-form-label text-md-right">Contact Number <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6">
                                <input type="string" maxlength="10"
                                    [class.is-invalid]='registerForm.get("contactNumber").errors && registerForm.get("contactNumber").touched'
                                    class="form-control bg-light border-dark" formControlName="contactNumber">
                                <div *ngIf="registerForm.get('contactNumber').hasError('required')"
                                    class='invalid-feedback'>Please enter your Contact Number</div>
                                <div *ngIf="registerForm.get('contactNumber').hasError('pattern')"
                                    class='invalid-feedback'>Invalid Phone Number</div>
                            </div>
                            
                        </div>

                        <div class="form-group row">
                            <label for="user_name" class="col-md-3 col-form-label text-md-right">Gender <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6" >
                                <mat-form-field appearance="fill" >
                                    <select matNativeControl required formControlName="gender">
                                      <option value="Male">Male</option>
                                      <option value="Female">Female</option>
                                    </select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="user_name" class="col-md-3 col-form-label text-md-right">Password <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6">
                                <input type="password"
                                    [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
                                    class="form-control bg-light border-dark" formControlName="password">
                                <div *ngIf="registerForm.get('password').hasError('required')" class='invalid-feedback'>
                                    Please enter a Password</div>
                                <div *ngIf="registerForm.get('password').hasError('minlength')"
                                    class='invalid-feedback'>Password must be at least 4 characters</div>
                                <div *ngIf="registerForm.get('password').hasError('maxlength')"
                                    class='invalid-feedback'>Password must be at max 8 characters</div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="user_name" class="col-md-3 col-form-label text-md-right">Confirm Password <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6">
                                <input type="password"
                                    [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
                                    class="form-control bg-light border-dark" formControlName="confirmPassword">
                                <div *ngIf="registerForm.get('confirmPassword').hasError('required')"
                                    class='invalid-feedback'>Please enter Confirm Password</div>
                                <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')"
                                    class='invalid-feedback'>Both the Passwords must match</div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="user_name" class="col-md-3 col-form-label text-md-right">Date of Birth <span
                                    class="mandatory-notation">*</span></label>
                            <div class="col-md-6" >
                                <input matInput [matDatepicker]="picker" class="form-control bg-light border-dark" formControlName="dateOfBirth">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                        </div>


                        <div class=" form-group col-md-6 offset-md-5">
                            <button type="submit" class="btn btn-dark bg-drak border-dark" [disabled]="!registerForm.valid"
                                >
                                Register
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>